<div class="title">
  <p>Edit RSVP</p>
</div>
<br /><br />


<%= form_for(@response) do |r| %>  
  <div class="field">
    <% if @response.errors.any? %>
      <h2>Errors:</h2>
      <ul>
        <% @response.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    <% end %>
   <table class="form-table">
     <tr>
        <th>Guest 1:</th> 
        <th><%= r.text_field :guest1 %></th>
     <tr>
        <th>Guest 2:</th> 
        <th><%= r.text_field :guest2 %></th>
     <tr>
       <tr>
        <th><br /></th>
      </tr>
     </tr> 
        <th>Attending:</th>
      </tr>
        <div class="radios">
				    <th></th>
				    <th><%= r.radio_button :attending, 'y' %>
				    <label class="radio" for="response_attending_y">Yes</label>
				    <%= r.radio_button :attending, 'n' %>
				    <label class="radio" for="response_attending_n">No</label></th>
				</div>
      </tr>
      <tr>
        <th><br /></th>
      </tr>
      <tr>
        <th>Comments:</th>
        <th><%= r.text_area :comments %></th>
        </th>
      </tr>
    </table>
    <br />
    <%= r.submit "Update", id: "btn-login" %> 
  </div> 
<% end %>


<br /><br /><%= link_to 'Back to All RSVPs', all_responses_path %>