<h1>Edit RSVP</h1>
<br>


<%= form_for(@response) do |r| %>  
  <div class="field">
    <% if @response.errors.any? %>
      <h2>Errors:</h2>
      <ul>
        <% @response.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    <% end %>
   
    Name: 
    <%= r.text_field :name , class: 'form-control' %><br /><br />
    
    Attending: <br />
    <% if %>
      <%= r.radio_button :attending, 'y' %> Yes<br />
      <%= r.radio_button :attending, 'n' %> No<br /><br />
    <% else %>
      <%= r.radio_button :attending, 'y' %> Yes<br />
      <%= r.radio_button :attending, 'n' %> No<br /><br />
    <% end %>
    
    Comments: <br />
    <%= r.text_area :comments %> 
  </div> 
  <div class="actions"> 
    <%= r.submit "Update" %> 
  </div> 
<% end %>


<br /><br /><br /><%= link_to 'Back to All RSVPs', all_responses_path %>