<div id="cd-nav">
	<div class="cd-nav-trigger">Menu<span></span></div>
	<nav id="cd-main-nav">
		<ul>
			<li><a href="#Home">Home</a></li>
			<li><a href="#Details">Details</a></li>
			<li><a href="#Story">Story</a></li>
			<li><a href="#Gifts">Gifts</a></li>
			<li><a href="#RSVP">RSVP</a></li>
			<li><a href="#Gallery">Gallery</a></li>
		</ul>
	</nav>
</div>


<div id="fullpage">
	<div class="section " id="section0">
			<%= image_tag("pic1.jpg", id: "pic1") %>
		<div id="introtitle">
			<p>CHRISTINA & JESSE'S WEDDING</p>
		</div>
		<%= image_tag("pic2.jpg", id: "pic2") %>
		<%= image_tag("pic3.jpg", id: "pic3") %>
	</div>
	
	<div class="section " id="section1">
		<div class="title">
			<p>The Wedding</p>
		</div>
		<br />
		<div id="info-date">
			<p>Friday, Feburary 17th 2017</p>
		</div>
		<br />
		<div id="info-map">
			<a href="https://www.google.com/maps/dir//9000+S+Gale+Ridge+Rd,+San+Ramon,+CA+94582/"><img src="http://maps.googleapis.com/maps/api/staticmap?center=9000+S+Gale+Ridge+Rd,+San+Ramon,+CA+94582&zoom=13&scale=1&size=300x200&maptype=roadmap&key=AIzaSyDgl-kRwufRxXN14wBE0JQTAFcAzl1zXLA&format=png&visual_refresh=true&markers=size:mid%7Ccolor:0xff0000%7Clabel:1%7C9000+S+Gale+Ridge+Rd,+San+Ramon,+CA+94582" alt="Google Map of 9000 S Gale Ridge Rd, San Ramon, CA 94582"></a>
			<p>(click map for directions)</p>
		</div>
		<br />
		<div id="info-address">
			The Bridges Golf Club<br /> 
			9000 South Gale Ridge Road<br /> 
			San Ramon, CA 94582
		</div>
		<br />
		<div id="info-time">
			Times: TBD
		</div>
	</div>
	
	<div class="section" id="section2">
	    <div class="slide" id="slide1">
	    	<div class="title">
	    		<p>HIStory</p>
			</div>
			<div class="textbox">
				<p>"I was playing video games at my buddy’s house party when I was briefly interrupted by a clumsy girl who dropped her iPhone not once BUT twice—all to get my attention. 
				Being the gentleman I am, I picked up her phone and noticed it was brand new. Luckily, no iPhone was harmed during the making of this story.</p>
				<p>I remember thinking Christina was beautiful. She was wearing jeans, a scarf, a grey sweater with blue stripes (which she still wears till this very day but now to sleep) 
				and also one of her favorite brown boots (god rest their soles).</p>
				<p>As the party progressed, I came across the young lady again outside of the house, where we sat next to a bonfire.  She told me she just got an iPhone and was still 
				learning how to use it. I seized the opportunity and played it very smooth by getting her phone number while teaching her how to use an app similar to FaceTime (since FaceTime wasn’t out yet).</p>
				<p>And the rest is history…"</p>
				<p>(For the record, Cara (Christina’s sister and Maid of Honor) thinks I asked her to “Hook It Up!” but that’s not true, I charmed her all on my own)</p>

			</div>
		</div>

	    <div class="slide active" id="slide2">
			<div class="title">
				<p>Their Story</p>
			</div>
			<div class="textbox">
   				<p>Christina and Jesse have been together for 5 years and in that time their love has taken roots. They have inspired their friends and family to believe 
   				that there really is such a thing as true love. </p>
   				<p>On Thanksgiving day 2015, as the entire family gathered around the dining table and said grace we all took turns saying what we were thankful for. 
   				We talked about new careers, new friendships. We were thankful to have everyone in the same country for a change... And we were thankful to have such a 
   				close knit loving family. When it was finally Jesses turn to say what he was thankful for he stood up and said in front of the entire family how much he 
   				loved our Tina and how lucky he was to have her in his life. He then got down on one knee and asked if she'd marry him, and of course she said yes!
   				It was the best surprise Tina and the entire family could ask for and there wasn't a dry eye in the house.</p>
   				<p>But how did their story begin? Scroll left and right for 'His' and 'Her' versions of that night </p>
  			</div>
		</div>

		<div class="slide" id="slide3">
			<div class="title">
				<p>HERstory</p>
			</div>
			<div class="textbox">
 				 <p>"I can still remember the very first day I met Jesse. My sister, Cara called me from a party at her friend’s house and told me to come by. I wasn’t 
 				 really in a party mood but since my sister was insistent on me joining, I gave in. So I guess I have her to thank for meeting Jesse that night.</p>
				 <p> Jesse was hard to miss. He was loud, ridiculous with the MOST inappropriate and obscene t-shirt I had ever seen (you all know what I’m talking about). 
				 Despite the outfit choice, I was interested, I think it was a combination of his weird, geeky, and goofy personality—not to mention, I thought he was 
				 pretty cute. Later on he tricked me into giving him my phone number by “teaching me” how to use my phone.</p>
				 <p>When I got home that night I texted him to let him know I got home okay and he replied <i>'Do you miss me yet?'</i>. And that was the beginning of our 
				 journey together…"</p>
				 <p>(By the way, I did NOT drop my iPhone on purpose.) </p>
  			</div>
		</div>
		
	</div>
	<div class="section" id="section3">
		<div class="title">
				<p>Wedding Gifts</p>
			</div>
		<div class="textbox-gifts">
 			 <p>
 			 	We haven't got a wedding list, the reason we'll explain<br />
 			 	It's to save you all the hassel, as shopping is a pain.
 			 </p>
 			 <p>
 			 	We thought we'd ask you all, for something else instead<br />
 			 	A contribution towards a holiday, for after we have wed.
 			 </p>
 			 <p>
 			 	So if you'd like to contribute, towards our honeymoon<br />
 			 	We offer you our heartfelt thanks. With love, the Bride & Groom.
 			 </p>
 			 <br /><br /><br />
 			 <p>
 			 	<i>Link for contributions coming soon...</i>
 			 </p>
 		</div>
	</div>
	<div class="section" id="section4">
			<div class="title">
				<p>RSVP</p>
			</div>
			<br /><br />
			<%= form_for(@response, remote:true) do |r| %>  
			    <% if @response.errors.any? %>
			      <h2>Errors:</h2>
			      <ul>
			        <% @response.errors.full_messages.each do |message| %>
			        <li><%= message %></li>
			        <% end %>
			      </ul>
			<% end %>
			 
			<div class="field"> 
				Name: <br />
				<%= r.text_field :guest1, placeholder: 'Guest 1' %><br /><br />
				<%= r.text_field :guest2, placeholder: 'Guest 2' %><br /><br />
				<div class="radios">
				    <%= r.radio_button :attending, 'y' %>
				    <label class="radio" for="response_attending_y">Attending</label>
				    <%= r.radio_button :attending, 'n' %>
				    <label class="radio" for="response_attending_n">Not Attending</label>
				</div>
				<br />
				Comments: <br />
				<%= r.text_area :comments %> 
				</div> 
				<br />
				<div class="actions"> 
				<%= r.submit "Send" %> 
				</div> 
			<% end %>
		<div id="login">
			<%= link_to image_tag("login.png"), all_responses_path %>
		</div>
	</div>
	<div class="section" id="section5">
			<div class="title">
				<p>Gallery</p>
			</div>
			
			<!-- The Modal -->
			<div id="myModal" class="modal">
			  <!-- The Close Button -->
			  <span class="close" onclick="document.getElementById('myModal').style.display='none'">&times;</span>
			  <!-- Modal Content (The Image) -->
			  <img class="modal-content" id="img01">
			  <!-- Modal Caption (Image Text) -->
			  <div id="caption"></div>
			</div>
			
			<div>
				<table align="center" style="margin: 0px auto;">
					<tr>
						<td>
							<div class="thumbnail">
	  						<img id="myImg" src="/assets/weddingpics/DSCF1023.jpg" class="portrait" alt="Image" />
							</div>
						</td>
						<td>
							<div class="thumbnail">
	  						<img id="myImg" src="/assets/weddingpics/DSCF1054.jpg" alt="Image" />
							</div>
						</td>
						<td>
							<div class="thumbnail">
	  						<img id="myImg" src="/assets/weddingpics/DSCF1057.jpg" alt="Image" />
							</div>
						</td>
						<td>
							<div class="thumbnail">
	  						<img id="myImg" src="/assets/weddingpics/DSCF1066.jpg" alt="Image" />
							</div>
						</td>
					</tr>
					<tr>
						<td>
							<div class="thumbnail">
	  						<img id="myImg" src="/assets/weddingpics/DSCF1095.jpg" alt="Image" />
							</div>
						</td>
						<td>
							<div class="thumbnail">
	  						<img id="myImg" src="/assets/weddingpics/DSCF1098.jpg" class="portrait" alt="Image" />
							</div>
						</td>
						<td>
							<div class="thumbnail">
	  						<img id="myImg" src="/assets/weddingpics/DSCF1105.jpg" class="portrait" alt="Image" />
							</div>
						</td>
						<td>
							<div class="thumbnail">
	  						<img id="myImg" src="/assets/weddingpics/DSCF1129.jpg" alt="Image" />
							</div>
						</td>
					</tr>
					<tr>
						<td>
							<div class="thumbnail">
	  						<img id="myImg" src="/assets/weddingpics/DSCF1129.jpg" alt="Image" />
							</div>
						</td>
						<td>
							<div class="thumbnail">
	  						<img id="myImg" src="/assets/weddingpics/DSCF1181.jpg" alt="Image" />
							</div>
						</td>
						<td>
							<div class="thumbnail">
	  						<img id="myImg" src="/assets/weddingpics/DSCF1204.jpg" alt="Image" />
							</div>
						</td>
						<td>
							<div class="thumbnail">
	  						<img id="myImg" src="/assets/weddingpics/DSCF1216.jpg" alt="Image" />
							</div>
						</td>
					</tr>
					<tr>
						<td>
							<div class="thumbnail">
	  						<img id="myImg" src="/assets/weddingpics/DSCF1226.jpg" class="portrait" alt="Image" />
							</div>
						</td>
						<td>
							<div class="thumbnail">
	  						<img id="myImg" src="/assets/weddingpics/DSCF1251.jpg" class="portrait" alt="Image" />
							</div>
						</td>
						<td>
							<div class="thumbnail">
	  						<img id="myImg" src="/assets/weddingpics/DSCF1254.jpg" class="portrait" alt="Image" />
							</div>
						</td>
						<td>
							<div class="thumbnail">
	  						<img id="myImg" src="/assets/weddingpics/DSCF1281.jpg" class="portrait" alt="Image" />
							</div>
						</td>
					</tr>
					<tr>
						<td>
							<div class="thumbnail">
	  						<img id="myImg" src="/assets/weddingpics/DSCF1296.jpg" alt="Image" />
							</div>
						</td>
						<td>
							<div class="thumbnail">
	  						<img id="myImg" src="/assets/weddingpics/DSCF1299.jpg" alt="Image" />
							</div>
						</td>
						<td>
							<div class="thumbnail">
	  						<img id="myImg" src="/assets/weddingpics/DSCF1323.jpg" alt="Image" />
							</div>
						</td>
						<td>
							<div class="thumbnail">
	  						<img id="myImg" src="/assets/weddingpics/DSCF1347.jpg" alt="Image" />
							</div>
						</td>
					</tr>
					<tr>
						<td>
							<div class="thumbnail">
	  						<img id="myImg" src="/assets/weddingpics/DSCF1348.jpg" alt="Image" />
							</div>
						</td>
						<td>
							<div class="thumbnail">
	  						<img id="myImg" src="/assets/weddingpics/DSCF1374.jpg" alt="Image" />
							</div>
						</td>
						<td>
							<div class="thumbnail">
	  						<img id="myImg" src="/assets/weddingpics/DSCF1404.jpg" class="portrait" alt="Image" />
							</div>
						</td>
						<td>
							<div class="thumbnail">
	  						<img id="myImg" src="/assets/weddingpics/DSCF1415.jpg" class="portrait" alt="Image" />
							</div>
						</td>
					</tr>
					<tr>
						<td>
							<div class="thumbnail">
	  						<img id="myImg" src="/assets/weddingpics/DSCF1416.jpg" alt="Image" />
							</div>
						</td>
						<td>
							<div class="thumbnail">
	  						<img id="myImg" src="/assets/weddingpics/DSCF1427.jpg" class="portrait" alt="Image" />
							</div>
						</td>
						<td>
							<div class="thumbnail">
	  						<img id="myImg" src="/assets/weddingpics/DSCF1435.jpg" alt="Image" />
							</div>
						</td>
						<td>
							<div class="thumbnail">
	  						<img id="myImg" src="/assets/weddingpics/DSCF1443.jpg" alt="Image" />
							</div>
						</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</div>

